.drum-pad {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  font-size: 50px;
  border-radius: 100px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  
}

.keypad {
  margin: auto;
  width: 50%;
}

.drum-info {
  margin: auto;
  width: 50%;
  border: solid black 3px;
  text-align: center;
}